.fp-viewing-firstPage {
    #fp-nav {
        display: none !important;
    }
}
#fp-nav {
    ul {
        li {
            margin: 20px 0;

            a {
                span {
                    background: #fff;
                    height: 5px;
                    width: 5px;
                }

                &.active {
                    span {
                        height: 5px;
                        width: 5px;
                        margin: -2px 0 0 -2px;
                        &:after{
                            content: " ";
                            background: #ffffff30;
                            height: 13px;
                            width: 13px;
                            display: block;
                            top: -4px;
                            left: -4px;
                            position: absolute;
                            border-radius: 50%;
                        }
                    }
                }
            }
            &:hover {
                a {
                    &.active {
                        span {
                            height: 5px;
                            width: 5px;
                            margin: -2px 0 0 -2px;
                        }
                    }
                }
            }
        }
    }
}
.fp-slidesNav {
    ul {
        li {
            a {
                span {
                    background: #fff;
                    height: 5px;
                    width: 5px;
                }

                &.active {
                    span {
                        height: 5px;
                        width: 5px;
                        margin: -2px 0 0 -2px;
                        &:after{
                            content: " ";
                            background: #ffffff30;
                            height: 13px;
                            width: 13px;
                            display: block;
                            top: -4px;
                            left: -4px;
                            position: absolute;
                            border-radius: 50%;
                        }
                    }
                }
            }

            &:hover {
                a {
                    &.active {
                        span {
                            height: 5px;
                            width: 5px;
                            margin: -2px 0 0 -2px;
                        }
                    }
                }
            }
        }
    }
}
.fp-responsive{
    #fullPage{
        .fp-slide,
        .fp-tableCell {
            height: auto !important;
        }
    }
}
// fullpage backgrounds
.first-section {
    background: url('../img/slidebg/first_slide.jpg');
    background-size: 100% 100%;
}

.second-section{
    background: url('../img/slidebg/second_slide.jpg');
    background-size: 100% 100%;
}

.third-section {
    background: url('../img/slidebg/third_slide.jpg');
    background-size: 100% 100%;
}

.fourth-section {
    background: url('../img/slidebg/fourth_slide.jpg');
    background-size: 100% 100%;
}
