img {
  max-width: 100%;
  height: auto;
}

.navElem .btnLogo {
  padding: 0;
}
.navElem .btnLogo:hover {
  background: transparent;
}
.navElem .btnLogo img {
  height: 31px;
  width: 34px;
}

.navElem div {
  border-right: 1px solid #484848;
}
.navElem div:last-child,
.navElem div:nth-last-child(2) {
  border: 0;
}

.fp-viewing-video #fp-nav {
  display: none !important;
}

#fp-nav ul li {
  margin: 20px 0;
}
#fp-nav ul li a span {
  background: #fff;
  height: 5px;
  width: 5px;
}
#fp-nav ul li a.active span {
  height: 5px;
  width: 5px;
  margin: -2px 0 0 -2px;
}
#fp-nav ul li a.active span:after {
  content: " ";
  background: #ffffff30;
  height: 13px;
  width: 13px;
  display: block;
  top: -4px;
  left: -4px;
  position: absolute;
  border-radius: 50%;
}
#fp-nav ul li:hover a.active span {
  height: 5px;
  width: 5px;
  margin: -2px 0 0 -2px;
}

.fp-slidesNav ul li a span {
  background: #fff;
  height: 5px;
  width: 5px;
}

.fp-slidesNav ul li a.active span {
  height: 5px;
  width: 5px;
  margin: -2px 0 0 -2px;
}
.fp-slidesNav ul li a.active span:after {
  content: " ";
  background: #ffffff30;
  height: 13px;
  width: 13px;
  display: block;
  top: -4px;
  left: -4px;
  position: absolute;
  border-radius: 50%;
}

.fp-slidesNav ul li:hover a.active span {
  height: 5px;
  width: 5px;
  margin: -2px 0 0 -2px;
}

.fp-responsive #fullPage .fp-slide,
.fp-responsive #fullPage .fp-tableCell {
  height: auto !important;
}

.first-section {
  background: url("../img/slidebg/first_slide.jpg");
  background-size: 100% 100%;
}

.second-section {
  background: url("../img/slidebg/second_slide.jpg");
  background-size: 100% 100%;
}

.third-section {
  background: url("../img/slidebg/third_slide.jpg");
  background-size: 100% 100%;
}

.fourth-section {
  background: url("../img/slidebg/fourth_slide.jpg");
  background-size: 100% 100%;
}

.slider-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

video {
  width: 100%;
  height: 100%;
  display: block;
}

.slick-slider {
  margin: 0 20px !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #fff;
  border: 3px solid #fff9;
  border-radius: 100%;
  top: 10px;
  display: block;
  text-align: center;
}

.slick-dots li button:before {
  font-size: 8px;
  line-height: 9px;
  position: absolute;
  top: 12px;
  left: 0px;
  width: 12px;
  height: 12px;
  content: "\2022";
  text-align: center;
  opacity: 1;
  color: #fff;
}

.content {
  padding: 20px;
  margin: auto;
}

@media (min-width: 701px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .content {
    width: 70%;
  }
}

.slick-slide .image {
  padding: 10px;
}

.slick-slide img {
  display: block;
  margin: auto;
}

.slick-slide img.slick-loading {
  border: 0;
}

.slick-slider {
  margin: 30px auto 50px;
}

.slick-dots {
  margin-left: 0;
}

.slick-thumb {
  bottom: -45px;
}

.slick-thumb li {
  width: 60px;
  height: 45px;
}

.slick-thumb li img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}

@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}

.slick-vertical .slick-slide {
  height: 180px;
}

.slick-arrow {
  background-color: grey;
  border-radius: 100%;
}

.slick-arrow:hover {
  background-color: grey;
}

.slick-arrow:focus {
  background-color: grey;
}

.button {
  background-color: #00558b;
  padding: 10px 20px;
  margin: 0px 20px;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  min-height: 45px;
}
